@model TimeClock.Models.Employee

@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h3 align="center">James TimeClock project</h3>
    <h1 id="clock" align="center" style="font-size:60px"></h1>
    <h1 id="hex-color" style="font-size:x-small" align="center"></h1>
    <script src="~/js/app.js"></script>
</div>

<div class="row">
    <div class="col-sm-2">


    </div>

    <div class="col-sm-4">
        <h2 style="color:white">Employees</h2><hr />
        @using (Html.BeginForm("Clock", "TimeClock"))
        {
            <p style="color:white">Enter Employee ID </p>@Html.TextBox("EmployeeID");<br /><br />
            <input name="submit" type="submit" id="clockin" value="Clockin"  />
            <input name="submit" type="submit" id="clockout" value="Clockout" />
            <input name="submit" type="submit" id="Paystub" value="Paystub" /><br /><br />
            <h3 style="color:white">@Html.Label(Convert.ToString((string)ViewBag.ErrorMessage)) </h3>
        }

    </div>

    <div class="col-sm-4">
        @using (Html.BeginForm("Create", "Employees"))
        {
            @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <h2 style="color:white">Registeration</h2>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div style="color:white" class="form-group">
                @Html.LabelFor(model => model.FirstName, htmlAttributes: new { @class = "control-label col-md-2" })<br /><br />
                <div class="col-md-10">
                    @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
                </div>
            </div>

            <div style="color:white" class="form-group">
                @Html.LabelFor(model => model.LastName, htmlAttributes: new { @class = "control-label col-md-2" })<br /><br />
                <div class="col-md-10">
                    @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
                </div>
            </div>

            <div style="color:white" class="form-group">
                @Html.LabelFor(model => model.IdentificationNumber, htmlAttributes: new { @class = "control-label col-md-2" })<br /><br />
                <div class="col-md-10">
                    @Html.EditorFor(model => model.IdentificationNumber, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.IdentificationNumber, "", new { @class = "text-danger" })
                </div>
            </div>

            <div style="color:white" class="form-group">
                @Html.LabelFor(model => model.HourlySalary, htmlAttributes: new { @class = "control-label col-md-2" })<br /><br />
                <div class="col-md-10">
                    @Html.EditorFor(model => model.HourlySalary, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.HourlySalary, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <br />
                    <input type="submit" value="Register New Employee" class="btn btn-default" />
                </div>
            </div>
        </div>
        }
        @section Scripts {
            @Scripts.Render("~/bundles/jqueryval")
        }

    </div>
</div>





